<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>3DPV using WebGPU</title>
</head>
<body>
    <script type="importmap">
        {
            "imports": {
                        "three": "/static/js/three.webgpu.js",
                        "three/webgpu": "/static/js/three.webgpu.js",
                        "three/addons/controls/OrbitControls.js": "/static/js/OrbitControls.js",
                        "three/tsl": "/static/js/three.tsl.js",
                        "GPUEngine": "/static/js/GPUEngine.js"
            }
        }
    </script>
    <script type="module" src="/static/js/Core.js"></script>
    <script type="module" src="/static/js/GPUEngine.js"></script>
</body>
</html>